@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #F7554D, #F7914D);
}

main {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(119, 95, 38, 0.479);
    width: 600px;
    padding: 10px;
    margin: auto;

}

h1 {
    color: #F7734D;
    text-align: center;
    text-shadow: 1px 1px 0px rgb(71, 38, 38);
}

h2 {
    color: #F7AF4D;
}

p{
    text-align: justify;
}

